/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
.claude/

# Secrets
.envrc.local

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Testing
.kube/
kubeconfig
cluster/test/processed-examples/
cluster/test/datasource.yaml
