apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "your-rediscloud-api-key",
      "secret_key": "your-rediscloud-secret-key",
      "url": "https://api.redislabs.com/v1"
    }
